@page
@model IndexModel
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using SkillTreeRazorPageBlogSample.Helper


@{
    ViewData["Title"] = "Home page";


}


<h1 class="my-4">
    Page Heading
    <small>Secondary Text</small>
</h1>


@Html.PagedListPager((IPagedList)Model.Article,
    page => Url.Page("index", Model.handler, new { p = page, tag = Model.tagName }), PagingOptionsHelper.FrontEnd)


@foreach (var item in Model.Article)
{
    <div class="card mb-4">
        <img class="card-img-top" src="@item.CoverPhoto" alt="@item.Title">
        <div class="card-body">
            <h2 class="card-title">@item.Title</h2>
            <p class="card-text">@Html.Raw(item.Body)</p>
            <!--TAG 作 模組 Partial view    Razor page(foreach)   -->
            old: @item.Tags
            <br />
            partial: <partial name="_TagsPartial" model="item.Tags"></partial>
            <br />
            tagHelper: <tags-helper>@item.Tags</tags-helper>
            <br />
            viewCommands:<vc:tags-vc tags="@item.Tags"></vc:tags-vc>



        </div>
        <div class="card-footer text-muted">
            Posted on @item.CreateDate.ToString("yyyy-MM-dd") by me
        </div>
    </div>
}

<!-- Pagination -->
@*@Html.PagedListPager(    (IPagedList)Model.Article ,
    page => Url.Action("Index", new { p = page }), PagedListRenderOptions.TwitterBootstrapPagerAligned )*@


@*<ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>*@

<!-- Pagination -->
<!-- Pagination 實作自定義分頁樣式 -->
<!-- Pagination 實作自定義分頁樣式 -->